.homepage {
    a {
        display: flex;
        justify-content: center;
    }

    button {
        background-color: white;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid black;
    }

    div {
        margin: 10px 0;
        padding: 10px;
        background-color: lightgray;

        h4 {
            text-align: center;
            margin-bottom: 10px;
        }

        ul {
            list-style: "🚀";
            list-style-position: inside;
        }

        p,
        li {
            margin-bottom: 10px;
        }
    }
}