.journaling {
    p {
        margin: 20px 0;
    }

    input {
        width: 100%;
        border: none;
        border-bottom: 2px solid #232323;
        padding: 10px;
    }

    h3 {
        font-size: 3rem;
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border: none;
        border-radius: 50%;
        box-shadow: -10px 10px 15px 10px rgba(31, 31, 31, 0.5);
    }

    
    li {
        padding: 10px 0;
    }

    p {
        padding: 5px 0;
        text-align: start;
    }
    
}

.transcript {
    min-height: 50vh;
}

.fa-microphone-lines-slash {
    color: gray;
}

.fa-microphone-lines {
    color: #006151;
}