@media (min-width: 940px) {
    header {
        img {
            width: 10%;
        }
    }
    .wrapper {
        width: 70%;
    }

    .navHeader {
        display: none;
    }

    .mobileNav {
        display: block;
        position: absolute;
        width: 20%;
        min-height: 1000px;
        z-index: 20;
        margin-left: 5%;
        background-color: white;
        border-left: 2px solid lightgray;
        border-right: 2px solid lightgray;
        

        ul {
            padding-top: 40px;
        }

        li {
            width: 100%;
            margin: 30px 0;
        }

        i {
            width: 100px;
            display: inline-block;
            text-align: center;
        }

        a {
            display: block;
            padding: 10px;

            &:hover,
            &:focus {
                background-color: #006151;
                color: white;
            }
        }
    }

    .landingNav {
        .mobileNav {
            display: none;
        }

        .mobileNav.active {
            display: block;
            top: 20px;
            right: 0;
            min-height: 450px;

            ul {
                width: 90%;
                margin: 0 auto;
                padding-top: 30px;
            }

            li {
                text-align: left;
                margin: 0;
                padding: 0;
                border-bottom: 1px solid #232323;
                padding: 10px 0;
            }

            a {
                padding: 0;
            }

            .available {
                text-align: center;
                border-bottom: none;

                li {
                    font-size: 0.8rem;
                    border-bottom: none;
                    text-align: center;
                }
            }
        }
    }

    .calendar {
        display: block;
        position: absolute;
        top: 68px;
        right: 0;
        width: 20%;
        margin-right: 5%;
        min-height: 1000px;
        padding: 50px;
        background-color: white;
        border-left: 2px solid lightgray;
        border-right: 2px solid lightgray;
        z-index: 30;
    
        .customCalendar {
            width: 300px;
            height: 300px;
            border: 2px solid #333;
            border-radius: 10px;

            .react-calendar__month-view__weekdays {
                background-color: #ddd;
            }
        
            .react-calendar__tile {
                font-size: 1.5rem;
                padding: 3px;
                background-color: transparent;
                color: #232323;
            }
        
            .react-calendar__tile:hover {
                background-color: #eee;
                cursor: pointer;
            }
        
            .react-calendar__tile--active {
                background-color: #333;
                color: #fff;
            }

            .react-calendar__month-view__weekdays__weekday {
                font-size: 18px;
                color: #232323;
                background-color: white;

                abbr {
                    text-decoration: none;
                }
            }

            .react-calendar__navigation {
                text-align: center;

                button {
                    background-color: transparent;
                    color: #232323;
                    margin-bottom: 5px;
                }
            }
        }

        .calButton {
            padding: 10px;
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            border-radius: 5px;
            width: 90%;
            color: #232323;
            background-color: transparent;
            border: 1px solid #232323;

            &:hover,
            &:focus {
                background-color: #006151;
                color: white;
                border: none;
            }
        }
    }

    .webPage {
        display: flex;
        flex-direction: row-reverse;

        img {
            width: 50%;
            object-fit: contain;
        }

        div {
            width: 30%;
        }
    }

    .journaling {
        width: 40%;
        background-color: white;
        min-height: 1000px;
        border-left: 2px solid lightgray;
        border-right: 2px solid lightgray;

        input {
            padding: 10px 0;
            width: 90%;
            display: block;
            margin: 0 auto;
        }

        h4, h5, p {
            width: 90%;
            display: block;
            margin: 0 auto;
            padding: 20px 0;
        }
    }

    .settings {
        width: 40%;
        background-color: white;
        height: 100vh;
        border-left: 2px solid lightgray;
        border-right: 2px solid lightgray;
        
        h2 {
                padding: 10px 0;
                width: 90%;
                display: block;
                margin: 0 auto;
        }

        form {
            margin-left: 80px;
        }
    }

    .saved {
        width: 40%;
        background-color: white;
        height: 100vh;
        border-left: 2px solid lightgray;
        border-right: 2px solid lightgray;
    }
}

