@media (min-width: 940px) {

    .wrapper {
        width: 70%;
    }

    h1 {
        padding-left: 15%;
    }

    .navHeader {
        display: none;
    }

    .mobileNav {
        display: block;
        position: absolute;
        width: 15%;
        height: 100vh;
        z-index: 20;
        margin-left: 5%;
        background-color: white;
        border-left: 2px solid lightgray;
        border-right: 2px solid lightgray;
        

        ul {
            padding-top: 40px;
        }

        li {
            width: 100%;
            margin: 30px 0;
        }

        i {
            width: 50px;
            display: inline-block;
            text-align: center;
        }

        a {
            display: block;
            padding: 10px;

            &:hover,
            &:focus {
                background-color: #006151;
                color: white;
            }
        }
    }

    .calendar {
        display: block;
        position: absolute;
        top: 68px;
        right: 0;
        width: 20%;
        height: 100vh;
        padding: 50px;
        background-color: lightgoldenrodyellow;
        z-index: 30;
    }

    .customCalendar {
        width: 300px;
        height: 300px;
        border: 2px solid #333;
        border-radius: 10px;
    }

    .customCalendar .react-calendar__month-view__weekdays {
        background-color: #ddd;
    }

    .customCalendar .react-calendar__tile {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .customCalendar .react-calendar__tile:hover {
        background-color: #eee;
        cursor: pointer;
    }

    .customCalendar .react-calendar__tile--active {
        background-color: #333;
        color: #fff;
    }

    .calButton {
        background-color: transparent;
        padding: 10px;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 25px;
    }

    .webPage {
        display: flex;
        flex-direction: row-reverse;

        img {
            width: 50%;
            object-fit: contain;
        }

        div {
            width: 30%;
        }
    }

    .journaling {
        width: 40%;
        background-color: white;
        height: 100vh;
        border-left: 2px solid lightgray;
        border-right: 2px solid lightgray;

        input {
            padding: 10px 0;
            width: 90%;
            display: block;
            margin: 0 auto;
        }

        p {
            width: 90%;
            display: block;
            margin: 0 auto;
            padding: 20px 0;
        }
    }
}