@media (min-width: 1080px) {
    .wrapper {
        width: 70%;
    }

    .navHeader {
        display: none;
    }

    .mobileNav {
        display: block;
        position: absolute;
        width: 20%;
        min-height: 1000px;
        z-index: 20;
        margin-left: 5%;
        background-color: white;
        border-left: 2px solid lightgray;
        border-right: 2px solid lightgray;
        

        ul {
            padding-top: 40px;
        }

        li {
            width: 100%;
            margin: 30px 0;
        }

        i {
            width: 30%;
            display: inline-block;
            text-align: center;
        }

        a {
            display: flex;
            justify-content: left;
            align-items: center;
            padding: 10px;

            &:hover,
            &:focus {
                background-color: #006151;
                color: white;
            }
        }

        button {
            display: block;
            margin: 0 auto;
            padding: 10px 20px;
        }
    }

    .landingNav {
        .burgerIcon {
            margin-right: 5%;
        }

        .mobileNav {
            display: none;
        }

        .mobileNav.active {
            display: block;
            top: 20px;
            right: 100px;
            min-height: 450px;

            ul {
                width: 90%;
                margin: 0 auto;
                padding-top: 30px;
            }

            li {
                text-align: left;
                margin: 0;
                padding: 0;
                border-bottom: 1px solid #232323;
                padding: 10px 0;
            }

            a {
                padding: 0;
            }

            .available {
                text-align: center;
                border-bottom: none;

                li {
                    font-size: 0.8rem;
                    border-bottom: none;
                    text-align: center;
                }
            }
        }
    }

    .calendar {
        display: block;
        position: absolute;
        right: 0;
        width: 20%;
        margin-right: 5%;
        min-height: 1000px;
        background-color: white;
        border-left: 2px solid lightgray;
        border-right: 2px solid lightgray;
        z-index: 30;
    
        .customCalendar {
            width: 100%;
            height: 300px;
            padding: 50px 5px;
        
            .react-calendar__tile {
                font-size: 0.9rem;
                padding: 3px;
                background-color: transparent;
                color: #232323;
            }
        
            .react-calendar__tile:hover {
                background-color: #eee;
                cursor: pointer;
            }
        
            .react-calendar__tile--active {
                background-color: #006151;
                color: #fff;
            }

            .react-calendar__month-view__weekdays__weekday {
                font-size: 0.7rem;
                color: #232323;
                background-color: white;
                text-align: center;
                margin: 10px 0;

                abbr {
                    text-decoration: none;
                }
            }

            .react-calendar__navigation {
                text-align: center;
                font-size: 1rem;

                span {
                    padding: 0 28px;
                    font-weight: bold;
                }

                button {
                    background-color: transparent;
                    color: #232323;
                    margin-bottom: 5px;
                }
            }

            .react-calendar__navigation__next2-button,
            .react-calendar__navigation__prev2-button {
                display: none;
            }
        }

        .calButton {
            padding: 10px;
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            border-radius: 5px;
            width: 90%;
            color: #232323;
            background-color: transparent;
            border: 1px solid #232323;

            &:hover,
            &:focus {
                background-color: #006151;
                color: white;
                border: none;
            }
        }
    }

    .webPage {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 100px;

        img {
            width: 50%;
            object-fit: contain;
        }

        div {
            width: 30%;
        }
    }

    .journaling {
        width: 40%;
        background-color: white;
        min-height: 1000px;
        border-left: 2px solid lightgray;
        border-right: 2px solid lightgray;

        input {
            padding: 10px 0;
            width: 90%;
            display: block;
            margin: 0 auto;
        }

        h4, h5, p {
            width: 90%;
            display: block;
            margin: 0 auto;
            padding: 20px 0;
        }

        .buttonContainer {
            width: 95%;
        }
    }

    .settings {
        width: 40%;
        background-color: white;
        min-height: 1000px;
        border-left: 2px solid lightgray;
        border-right: 2px solid lightgray;
        
        h3 {
                padding: 10px 0;
                width: 90%;
                display: block;
                margin: 0 auto;
        }

        form {
            margin-left: 80px;
        }
    }

    .saved {
        width: 40%;
        background-color: white;
        min-height: 1000px;
        border-left: 2px solid lightgray;
        border-right: 2px solid lightgray;
    }
}

