.navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    background-color: white;

    p {
        margin-left: 5%;
        width: 50%;
        font-size: 0.8rem;
    }

    i {
        width: 10%;
        margin-left: 5%;
    }
}

.burgerIcon {
    display: block;
    width: 25px;
    margin-left: 5%;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 30;

    .navBar,
    &:before,
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background-color: #232323;
        border-radius: 100px;
        margin: 5px 0;
        transition: 0.5s;
    }
}

.burgerIcon.active {
    &:before {
        transform: rotate(45deg) translate(6px, 7.2px);
    }

    &:after {
        transform: rotate(-45deg) translate(7px, -8px);
    }

    .navBar {
        opacity: 0;
    }
}

.mobileNav {
    display: none;
}

.mobileNav.active {
    display: block;
    position: absolute;
    top: 69px;
    width: 250px;
    height: 400px;
    z-index: 20;
    background-color: white;
    border: none;
    border-radius: 5px;

    ul {
        padding-top: 60px;
    }

    li {
        margin: 20px 0;
    }

    i {
        width: 50px;
        display: inline-block;
        text-align: center;
    }

    a {
        font-size: 0.9rem;
        display: block;
        padding: 10px;  

        &:hover,
        &:focus {
            background-color: #006151;
            color: white;
        }
    }

    button {
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
    }
}

.landingNav {
    .burgerIcon {
        display: block;
        position: absolute;
        padding: 0;
        top: 10px;
        right: 20px;
        margin: 0;
    }

    .mobileNav.active {
        top: 0;
        right: 0;

        ul {
            width: 90%;
            margin: 0 auto;
            padding-top: 30px;
        }

        li {
            text-align: left;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid #232323;
            padding: 10px 0;
        }

        a {
            padding: 0;
        }

        .available {
            text-align: center;
            border-bottom: none;
            li {
                font-size: 0.8rem;
                border-bottom: none;
                text-align: center;
            }
        }
    }
}