.saved {
    h3 {
        border-bottom: 1px solid black;
        }

    li {
        padding: 20px 0;
    }

    h5 {
        font-size: 1.2rem;
    }
}

.editContainer {
    margin: 10px 0;
    
    button {
        padding: 5px;
        color: #006151;
        background-color: transparent;
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        word-break: break-all;
    }

    input {
        width: 100%;
    }
}