.settings {
    padding-bottom: 300px;

    h2 {
        border-bottom: 1px solid black;
    }

    form {
        margin-top: 25px;
    }

    label {
        display: block;
    }

    input {
        width: 85%;
        padding: 10px;
        border: 1px solid #232323;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    i {
        margin-left: 15px;
        color: #006151;
    }
}

.photoEdit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    
    i {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        font-size: 4rem;
        border: 1px solid #232323;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding: 70px;
    }

    button {
        padding: 10px;
    }
}

.submit {
    margin-top: 20px;

    input {
        background-color: #006151;
        color: white;
        border: none;

        &:hover,
        &:focus {
            background-color: white;
            color: #006151;
        }
    }
}