html {
    font-size: 125%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Arvo', serif;
}

h2, h3, h4, ul, p {
    font-family: 'Inter', sans-serif;
}
