@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap'); 
// font-family: 'Arvo', serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
// font-family: 'Inter',sans-serif;

@import "./partials/setup";
@import "./partials/baseStyles";
@import "./partials/typography";
@import "./partials/header";
@import "./partials/nav";
@import "./partials/calendar";
@import "./partials/home";
@import "./partials/journaling";
@import "./partials/settings";
@import "./partials/footer";
@import "./partials/mediaQueries";
@import "./partials/webPage";

