@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  background-color: #006151;
  color: white;
  border: none;
  border-radius: 5px;
}
button:hover, button:focus {
  background-color: white;
  color: #006151;
}

input {
  background-color: transparent;
}

.wrapper {
  max-width: 1920px;
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
}

.App {
  min-height: 900px;
  background-color: rgb(240, 240, 240);
}

.webPage img {
  width: 100%;
  margin: 0 auto;
}
.webPage h2 {
  margin: 50px 0;
}
.webPage button {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.webPage ul {
  text-align: center;
  padding-bottom: 100px;
}
.webPage li {
  font-size: 0.9rem;
}
.webPage h3 {
  margin-bottom: 10px;
}

.signUp h2 {
  text-align: center;
  margin: 50px 0;
}
.signUp input {
  width: 250px;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #232323;
  border-radius: 5px;
  margin-bottom: 20px;
}
.signUp button {
  width: 250px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
.signUp p {
  margin: 40px 0;
  text-align: center;
}
.signUp a {
  color: #006151;
}
.signUp span {
  text-decoration: underline;
}

.signIn h2 {
  text-align: center;
  margin: 50px 0;
}
.signIn input {
  width: 250px;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #232323;
  border-radius: 5px;
  margin-bottom: 20px;
}
.signIn button {
  width: 250px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
.signIn p {
  margin: 40px 0;
  text-align: center;
}
.signIn a {
  color: #006151;
}
.signIn span {
  display: block;
}

html {
  font-size: 125%;
  font-family: "Inter", sans-serif;
  color: #232323;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Arvo", serif;
}

header {
  border-bottom: 2px solid lightgray;
  background-color: white;
}
header img {
  padding: 10px 0;
  margin-left: 5%;
  width: 50%;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  background-color: white;
}
.navHeader p {
  margin-left: 5%;
  width: 50%;
  font-size: 0.8rem;
}
.navHeader i {
  width: 10%;
  margin-left: 5%;
}

.burgerIcon {
  display: block;
  width: 25px;
  margin-left: 5%;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 30;
}
.burgerIcon .navBar, .burgerIcon:before, .burgerIcon:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #232323;
  border-radius: 100px;
  margin: 5px 0;
  transition: 0.5s;
}

.burgerIcon.active:before {
  transform: rotate(45deg) translate(6px, 7.2px);
}
.burgerIcon.active:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
.burgerIcon.active .navBar {
  opacity: 0;
}

.mobileNav {
  display: none;
}

.mobileNav.active {
  display: block;
  position: absolute;
  top: 69px;
  width: 250px;
  height: 400px;
  z-index: 20;
  background-color: white;
  border: none;
  border-radius: 5px;
}
.mobileNav.active ul {
  padding-top: 60px;
}
.mobileNav.active li {
  margin: 20px 10px;
}
.mobileNav.active p {
  font-size: 1rem;
  width: 100%;
}
.mobileNav.active i {
  width: 50px;
  display: inline-block;
  text-align: center;
}
.mobileNav.active a {
  display: block;
  padding: 10px;
}
.mobileNav.active a:hover, .mobileNav.active a:focus {
  background-color: #006151;
  color: white;
}

.calendar {
  display: none;
}

.calendar.active {
  display: block;
  position: absolute;
  top: 113px;
  right: 0;
  background-color: white;
  z-index: 20;
  width: 320px;
  height: 500px;
  border-radius: 5px;
}
.calendar.active .customCalendar {
  width: 290px;
  height: 290px;
  border: 2px solid #333;
  border-radius: 10px;
  margin: 0 auto;
}
.calendar.active .customCalendar .react-calendar__month-view__weekdays {
  background-color: #ddd;
}
.calendar.active .customCalendar .react-calendar__tile {
  font-size: 1.2rem;
  padding: 6px;
  background-color: transparent;
  color: #232323;
}
.calendar.active .customCalendar .react-calendar__tile:hover {
  background-color: #eee;
  cursor: pointer;
}
.calendar.active .customCalendar .react-calendar__tile--active {
  background-color: #006151;
  color: #fff;
}
.calendar.active .customCalendar .react-calendar__month-view__weekdays__weekday {
  font-size: 18px;
  color: #232323;
  background-color: white;
}
.calendar.active .customCalendar .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}
.calendar.active .customCalendar .react-calendar__navigation {
  text-align: center;
}
.calendar.active .customCalendar .react-calendar__navigation button {
  background-color: transparent;
  color: #232323;
  margin-bottom: 5px;
}
.calendar.active .calButton {
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 5px;
  width: 90%;
  color: #232323;
  background-color: transparent;
  border: 1px solid #232323;
}
.calendar.active .calButton:hover, .calendar.active .calButton:focus {
  background-color: #006151;
  color: white;
  border: none;
}

.homepage h2 {
  margin: 20px 0;
  font-size: 1.2rem;
  text-align: center;
}
.homepage a {
  display: flex;
  justify-content: center;
}
.homepage button {
  background-color: white;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid #006151;
  color: #006151;
}
.homepage button:hover, .homepage button:focus {
  background-color: #006151;
  color: white;
}
.homepage i {
  margin-right: 10px;
}
.homepage div {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.homepage h4 {
  text-align: center;
  margin: 30px 0;
  font-size: 0.8rem;
  font-weight: 400;
}
.homepage p {
  margin-bottom: 10px;
  font-weight: 600;
}

.homeRecent h4 {
  text-align: start;
  font-size: 1.2rem;
  border-bottom: 3px solid lightgray;
  padding-bottom: 10px;
}

.journaling input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #232323;
  padding: 10px;
}
.journaling img {
  width: 40%;
  margin: 0 auto;
}
.journaling li {
  padding: 10px 0;
}
.journaling h4 {
  margin: 20px 0;
  padding: 5px 0;
  text-align: start;
}

.transcript {
  min-height: 50vh;
}

.settings {
  padding-bottom: 300px;
}
.settings h2 {
  border-bottom: 1px solid black;
}
.settings form {
  margin-top: 25px;
}
.settings label {
  display: block;
}
.settings input {
  width: 85%;
  padding: 10px;
  border: 1px solid #232323;
  border-radius: 5px;
  margin-bottom: 20px;
}
.settings i {
  margin-left: 15px;
  color: #006151;
}

.photoEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.photoEdit i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  font-size: 4rem;
  border: 1px solid #232323;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 70px;
}
.photoEdit button {
  padding: 10px;
}

.submit {
  margin-top: 20px;
}
.submit input {
  background-color: #006151;
  color: white;
  border: none;
}
.submit input:hover, .submit input:focus {
  background-color: white;
  color: #006151;
}

footer {
  background-color: rgb(240, 240, 240);
  font-size: 0.6rem;
  padding: 12px;
  text-align: center;
  width: 100%;
}

@media (min-width: 940px) {
  .wrapper {
    width: 70%;
  }
  .navHeader {
    display: none;
  }
  .mobileNav {
    display: block;
    position: absolute;
    width: 20%;
    min-height: 1000px;
    z-index: 20;
    margin-left: 5%;
    background-color: white;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
  }
  .mobileNav ul {
    padding-top: 40px;
  }
  .mobileNav li {
    width: 100%;
    margin: 30px 0;
  }
  .mobileNav i {
    width: 100px;
    display: inline-block;
    text-align: center;
  }
  .mobileNav a {
    display: block;
    padding: 10px;
  }
  .mobileNav a:hover, .mobileNav a:focus {
    background-color: #006151;
    color: white;
  }
  .calendar {
    display: block;
    position: absolute;
    top: 68px;
    right: 0;
    width: 20%;
    margin-right: 5%;
    min-height: 1000px;
    padding: 50px;
    background-color: white;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    z-index: 30;
  }
  .calendar .customCalendar {
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    border-radius: 10px;
  }
  .calendar .customCalendar .react-calendar__month-view__weekdays {
    background-color: #ddd;
  }
  .calendar .customCalendar .react-calendar__tile {
    font-size: 1.5rem;
    padding: 3px;
    background-color: transparent;
    color: #232323;
  }
  .calendar .customCalendar .react-calendar__tile:hover {
    background-color: #eee;
    cursor: pointer;
  }
  .calendar .customCalendar .react-calendar__tile--active {
    background-color: #333;
    color: #fff;
  }
  .calendar .customCalendar .react-calendar__month-view__weekdays__weekday {
    font-size: 18px;
    color: #232323;
    background-color: white;
  }
  .calendar .customCalendar .react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
  }
  .calendar .customCalendar .react-calendar__navigation {
    text-align: center;
  }
  .calendar .customCalendar .react-calendar__navigation button {
    background-color: transparent;
    color: #232323;
    margin-bottom: 5px;
  }
  .calendar .calButton {
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
    width: 90%;
    color: #232323;
    background-color: transparent;
    border: 1px solid #232323;
  }
  .calendar .calButton:hover, .calendar .calButton:focus {
    background-color: #006151;
    color: white;
    border: none;
  }
  .webPage {
    display: flex;
    flex-direction: row-reverse;
  }
  .webPage img {
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .webPage div {
    width: 30%;
  }
  .journaling {
    width: 40%;
    background-color: white;
    min-height: 1000px;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
  }
  .journaling input {
    padding: 10px 0;
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .journaling h5, .journaling p {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
  }
  .settings {
    width: 40%;
    background-color: white;
    height: 100vh;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
  }
  .settings h2 {
    padding: 10px 0;
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .settings form {
    margin-left: 80px;
  }
  .saved {
    width: 40%;
    background-color: white;
    height: 100vh;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
  }
}/*# sourceMappingURL=styles.css.map */